# misc
references

# Others
packages
FastBDT
models
LightGBM
plots

# basf2 folders
releases
tools
externals
sim

# data
data
*.csv
data\data_hep - data_hep.csv
data/data_hep - data_hep.csv
data/data_hep.csv
data\data_hep.csv

# python stuff
venv
venv_wsl
__pycache__
src/__pycache__

